@tailwind base;
@tailwind components;
@tailwind utilities;

.v-progress-circular {
    margin: 1rem auto;
}

.v-checkbox .v-selection-control {
    min-height: 30px !important;
}

.dz-preview {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0594be;
    color: aliceblue;
    border-radius: 5px;
    margin-bottom: 4px;
    display: none !important;
}

.dz-preview div {
    margin: 0 5px;
}

.dz-preview  .dz-details {
    width: 300px;
}

.dz-preview img {
    border-radius: 3px;
}

.img-upload {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1d1d1d;
    color: aliceblue;
    /* border-radius: 5px; */
    margin-bottom: 4px;
}

.even {
    background-color: aliceblue;
    color: #0594be;
    /* border: #0594be solid 1px; */
}

input[type='text'], input[type='text']:focus {
    background-color: transparent;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease;
}

.task-list{
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 0 5px;
}

.v-table{
    font-family: inherit !important;
    font-size: inherit !important;
}